<nav>
  <div>
    <a href="index.html" class="home-link">Red Star IT</a>
    <input type="checkbox" class="hamburger-checkbox" id="hamburger-checkbox">
    <label for="hamburger-checkbox">
      <span class="oi" data-glyph="menu" title="menu" aria-hidden="true"></span>
    </label>
    <ul>
      <li>
        <a href="products.html">Products</a>
      </li>
      <li>
        <a href="services.html">Services</a>
      </li>
      <li>
        <a href="contact.html">Contact</a>
      </li>
      </li>
    </ul>
    <div class="u-cf nav-clear"></div>
  </div>
</nav>
