<!doctype html>
<html>
{{> head }}
<body>
  {{> nav }}
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        {{{ contents }}}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <iframe src="https://awesomeforms.com/forms/7IB2K_Q?iframe=true" allowtransparency="true" frameborder="0" width="480" height="640"></iframe>
      </div>
    </div>
  </div>
  {{> footer }}
</body>
</html>
