<!doctype html>
<html>
{{> head }}
<body>
  <div class="container">
    {{> nav }}
    <div class="row">
      <div class="twelve columns">
        <h1>{{title}}</h1>
      </div>
    </div>
    <!-- <img src="images/logo.png"/> -->
    <div class="row">
      <div class="twelve columns">
        {{{contents}}}
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <h2>Services</h2>
        What exactly can you hire me for? What are you getting when you do hire me?
        Read more on <a href="services.html">what I do</a>.
      </div>
      <div class="six columns">
        <h2>Products</h2>
        Things I've created
        <div class="row">
          <div class="twelve columns">
            <a href="8cam.html">8cam</a>
          </div>
        </div>
        <div class="row">
          <div class="twelve columns">
            <a href="voedselkalender.html">Voedselkalender</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
