{{> precontent }}
    <div class="row">
      <div class="twelve columns">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="eight columns">
        <div>{{{ contents }}}</div>
        <div>{{{ storehtml }}}</div>
      </div>
      <div class="four columns">
        {{#if logo}}
        <img src="images/{{ logo }}" class="product-logo" />
        {{/if}}
      </div>
    </div>
    <div class="row gallery">
      {{{ skeletongallery }}}
    </div>
{{> postcontent }}
