h1, h2, h3, h4, h5, h6, a {
  color: #C10303;
}

a:hover {
  color: #C10303;
}

nav {
  background-color: #C10303;
}

nav ul {
  list-style-type: none;
  display: block;
  clear: both;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

nav a.home-link {
  display: inline-block;
  font-weight: bold;
  float: left;
}

nav a:hover {
  background-color: #fff;
  color: #C10303;
}

nav a.home-link:hover {
  background-color: transparent;
  color: #aaa;
}

input.hamburger-checkbox {
  display: none;
}

input.hamburger-checkbox + label {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}

input.hamburger-checkbox + label + ul {
  display: none;
}

.hamburger-checkbox:checked + label + ul {
  display: block;
}

.company-logo {
  display:block;
  margin: 10px auto;
}

@media (min-width: 750px) {
  input.hamburger-checkbox + label {
    display: none;
  }

  input.hamburger-checkbox + label + ul {
    display: block;
  }

  nav > div {
    max-width: 960px;
    margin: 0 auto;
  }

  nav a {
    display: inline-block;
  }

  nav a.home-link {
    padding-left: 0;
  }

  nav ul {
    display: inline;
    clear: none;
  }

  nav ul li {
    display: inline;
  }

  .nav-clear {
    display: none;
  }

  .company-logo {
    margin-top: 0;
  }
}
